!!! 5
html(lang="en")
	head
		!= SocketStream
		meta(charset="utf-8")
		title Welcome
	body
		label status:
			#status
		#content
			a(href='https://github.com/socketstream/socketstream')
				img(src='/images/logo.png', alt='SocketStream Logo', width=167, height=159)
			h1 Welcome to your new real time app!
			p#message

